In [3]:
import gcp.bigquery as bq
import pandas as pd
import numpy as np

In [4]:
%%bigquery schema --table "nyc-tlc:green.trips_2015"

In [5]:
%%sql
SELECT DAYOFYEAR(pickup_datetime) AS daynumber FROM [nyc-tlc:green.trips_2015] LIMIT 10

QueryResultsTable job_222lYOi9rLKXg50GGl4foO_Syp0